
#rect_illu{
    position: absolute;
    left:40%;
    top:200px;
    opacity: 0.7;
    border-radius: 10px;
    background-color:lightgray;
    width: 0%;
    height: 0%;
    z-index: 50;
    float: right;
    overflow: auto;
}
#rect_know{
    position: absolute;
    left:56%;
    top:410px;
    opacity: 0.7;
    border-radius: 10px;
    background-color:lightgray;
    width: 0;
    height: 0;
    z-index: 50;
    float: right;
    overflow: auto;
    font-size: 10px;
    text-anchor: middle;
    text-align: center;
}