@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
    font-family: 'Noto Sans TC', sans-serif;
    
}

#rect_illu{
    position: absolute;
    left:17%;
    top:120px;
    opacity: 0.7;
    border-radius: 10px;
    background-color:lightgray;
    width: 0%;
    height: 0%;
    z-index: 50;
    float: right;
    overflow: auto;
}
#rect_know{
    position: absolute;
    left:56%;
    top:410px;
    opacity: 0.7;
    border-radius: 10px;
    background-color:lightgray;
    width: 0;
    height: 0;
    z-index: 50;
    float: right;
    overflow: auto;
    font-size: 10px;
    text-anchor: middle;
    text-align: center;
}
#time{
    position:relative;
    width:fit-content;
    border-radius: 10px;
    background-color:lightgray;
    transform:translateX(15%);
    text-align:center;
    
    
}
#line{
    position:relative;
    width:fit-content;
    border-radius: 10px;
    background-color:lightgray;
    transform:translateX(50%);
    text-align:center;
}
#cate{
    position:relative;
    width:fit-content;
    border-radius: 10px;
    background-color:lightgray;
    transform:translateX(0%);
    text-align:center;
}
#scale{
    position:relative;
    width:fit-content;
    border-radius: 10px;
    background-color:lightgray;
    transform:translateX(0%);
    text-align:center;
}
#sun_donut{
    position:relative;
    width:fit-content;
    border-radius: 10px;
    background-color:lightgray;
    transform:translateX(20%);
    text-align:center;
}
.jumbotron{
    position: absolute;
    left: 15%;
    background-color: #F5F5F5;
    border-radius: 20px;
    width : 1600;
    height : 800;
}


.container{
    font-weight:300; 
    color:gray;
    font-size: 25px;
}

.donut{
    width: scr
}

li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: dodgerblue;
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
  }
  
  li::before{
    content: '';
    position: absolute;
    top: .9em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: dodgerblue;
    z-index: -1;
  }
  
  
  li:first-child::before {
    display: none;
  }